<p>Title: <%= @task.title %></p>
<p>Description: <%= @task.description %></p>
<p>Priority: <%= @task.priority %></p>
<p>Expire on: <%= @task.due_date %></p>

<%= link_to "Back to my tasks", tasks_path, class: "btn btn-primary" %>