<!DOCTYPE html>
<html>
<head>
  <title>TaskManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if content_for? :user_menu %>
          <%= yield :user_menu %>
        <% end %>
        <%= link_to "Task management system", root_path, class: "navbar-brand" %>
      </div>
      <button type="button" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <% unless content_for? :flash_messages %>
        <%= flash_messages %>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-xs-5 col-sm-2 col-md-2 sidebar sidebar-right sidebar-animate">
      <ul class="nav navbar-stacked">
        <% if user_signed_in? %>
          <li> <%= link_to "My tasks", tasks_path %></li>
          <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Log in", new_user_session_path %></li> 
          <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</body>
</html>
